:root {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
body {
    max-width: 100%;
}

h1 {
    font-size: 10px;
    font-family: "cocogoose", sans-serif;
    background-image: linear-gradient(to right, #af0201, #f24d13);
    -webkit-background-clip: text;
    color: transparent;
  }