@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

@font-face {
  font-family: cocogoose;
  src: url(/resources/Cocogoose_trial.otf);
}

@font-face {
  font-family: Filson Pro;
  src:
    url(/resources/FilsonPro-Black.woff2) format("woff2"),
    url(/resources/FilsonPro-Black.woff) format("woff"),
    url(/resources/FilsonPro-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
